@import "tailwindcss";

@layer base {
  /*  Default (Light) Theme */
  :root {
    --dark-green: #184944;
    --white: #ffffff;
    --dark-white: #eeeeee;
    --light-teal: #22aa96;
    --deep-teal: #047857;
    --eerie-black: #1a1a1a;
    --dark-navy-blue: #0f172b;
    --light-blue:#F5F7FA;
    --black: #000000;
    --cyan:#E6F2EF;
    
  }
}

@theme {
  --color-darkgreen: var(--dark-green);
  --color-white: var(--white);
  --color-darkwhite: var(--dark-white);
  --color-lightteal: var(--light-teal);
  --color-deepteal: var(--deep-teal);
  --color-eerieblack: var(--eerie-black);
  --color-darknavyblue: var(--dark-navy-blue);
  --color-black: var(--black);
  --color-cyan: var(--cyan);
  --color-lightblue:var( --light-blue);
  --font-grotesk: var(--font-grotesk);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: white;
  color: black;
  font-family: var(--font-grotesk);
}

.logo-scroller {
  position: relative;
  width: 100%;
  white-space: nowrap;
}

.scroll-wrapper {
  overflow: hidden;
}

.scroll-track {
  display: flex;
  animation: scroll-left 25s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

